<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.mobilemail</key>
	<true/>
	<key>com.apple.mail.preferences</key>
	<true/>
	<key>com.apple.private.email</key>
	<true/>
	<key>com.apple.mobilemail.ismobilemail</key>
	<true/>
	<key>com.apple.private.security.storage.Mail</key>
	<true/>
	<key>com.apple.private.suggestions.mail</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<true/>
	<key>com.apple.bulletinboard.utilities</key>
	<true/>
	<key>aps-connection-initiate</key>
	<true/>
</dict>
</plist>
