Package: com.cokepokes.libtweakemail
Name: libtweakemail
Version: 0.1-1
Description: Send emails via code
Section: Development
Depends: firmware (>= 8.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction: 
Maintainer: CokePokes
Icon: 

